@model Instructor

<table style ="color:blue" class="table table-bordered table-hover">
    <tr>
        <th>
            Instructor Id
        </th>
        <th>
            Instructor Name
        </th>
        <th>
            Instructor Salary
        </th>
        <th>
            Instructor Address
        </th>
    </tr>

    <tr>
        <td>
            @Model.Id
        </td>
        <td>
            @Model.Name
        </td>
        <td>
            @Model.Salary
        </td>
        <td>
            @Model.Address
        </td>
    </tr>
</table>