@model List<Employee>
@{
    ViewData["Title"] = "Index";

    SelectList deptList =
                new SelectList(
                Model,
                "Id",
                "Name"
                );

}

<h1>Index</h1>

<select class="form-control" name="dept" id="dept" asp-items="deptList"
        onchange="GetEmployeesData()">
    <option value="0">--Select Department--</option>
</select>



<table class="table table-bordered table-hover">
    <tr>
        <th>Employee Id</th>
        <th>Employee Name</th>
        <th>Employee Salary</th>
        <th>Employee Age</th>
        <th>Option to Edit</th>
        <th>Option to Delete</th>
    </tr>
    @foreach(var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Name</td>
            <td>@item.Salary</td>
            <td>@item.Age</td>
            <td><a href="/Employee/Details/@item.Id">Details</a></td>
            <td><a href="/Employee/Edit/@item.Id" style="text-decoration: none; color: blue; font-weight: bold;">Edit Employee Data</a></td>
            <td><a href="/Employee/Delete/@item.Id" style="text-decoration: none; color: red; font-weight: bold;">Delete Employee </a></td>
                
        </tr>
    }

</table>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js">
    </script>

<script>

    function GetEmployeesData() {
        var deptId = document.getElementById("Dept").value;
        
        $.ajax({
            url: "/Dept/GetEmployees" ,
            data: {"deptId":deptId},
            data: { "Id": empId }
            ,
            success: function (result) {
                console.log(result);
                // $("#div1").html(result);
                document.getElementById("empDetails").innerHTML = result;

            }
        });
    }
</script>   