@model List<Department>
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<table class="table table-bordered table-hover">
    <tr>
        <th>Department Id</th>
        <th>Department Name</th>
        <th>Department Manager Name</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Name</td>
            <td>@item.ManagerName</td>
        </tr>
    }
</table>

